---
import Section, { type Props as SectionProps } from "./Section.astro";
import Duplex from "./Duplex.astro";

export interface Props {
  contain?: boolean;
  presentation?: "image-right" | "full";
  forward?: SectionProps;
}

const Wrapper = Astro.props.contain ? Section : Fragment;
const forward = Astro.props.forward || {};
const presentation = Astro.props.presentation || "image-right";

const content = await Astro.slots.render('content');
const image = await Astro.slots.render('image');
---

<Wrapper
  width={forward?.width || "full"}
  theme={forward?.theme || "dark"}
  {...forward}
>
  <div data-component-id="Hero" data-presentation={presentation}>
    {presentation === 'image-right' && (
      <Duplex>
        <div class="content" slot="content">
          <Fragment set:html={content} />
        </div>
        <Fragment set:html={image} slot="aside" />
      </Duplex>
    )}
    {presentation === 'full' && (
      <div class="content">
        <Fragment set:html={content} />
      </div>
      <Fragment set:html={image} />
    )}
  </div>
</Wrapper>

<style>
  /* Default. Remove and update as needed */
  [data-component-id="Hero"] {
    position: relative;
  }

  [data-component-id="Hero"] :global(.eyebrow) {
    font-size: var(--size-step--1);
    font-family: var(--font-family-sans);
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }

  [data-component-id="Hero"] :global(:is(h1, p)) {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  [data-component-id="Hero"] .content :global(> *) {
    margin-bottom: 0;
  }

  [data-component-id="Hero"] .content :global(> *:not(.eyebrow) + *) {
    margin-top: var(--space-base-md);
  }

  [data-component-id="Hero"][data-presentation="full"] {
    display: grid;
    grid-template-columns: 1fr;
    > * {
      grid-column: 1;
      grid-row: 1;
    }
  }

  [data-component-id="Hero"][data-presentation="full"] .content {
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    max-width: 980px;
    padding: var(--space-l-xl);
    text-align: center;
    z-index: 1;
  }

  [data-component-id="Hero"][data-presentation="full"] .content :global(> :not(.title)) {
    max-width: 680px;
    margin-inline: auto;
  }

  [data-component-id="Hero"][data-presentation="full"] :global(:is(h1, .title)) {
    font-size: var(--size-step-8);
    line-height: .9;
  }

  [data-component-id="Hero"][data-presentation="full"] :global(img) {
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: 0;
    mask-image: radial-gradient(transparent, black);
    filter: grayscale(.5);
  }
</style>
